############################
# Build
############################
bin/
obj/
out/

############################
# User-specific files
############################
*.user
*.rsuser
*.suo
*.userprefs

############################
# Rider
############################
.idea/
*.DotSettings.user
############################
# VS Code
############################
.vscode/

############################
# Visual Studio
############################
.vs/

############################
# Logs
############################
*.log

############################
# ASP.NET Core
############################
appsettings.Development.json
appsettings.Local.json

############################
# User Secrets
############################
secrets.json

############################
# Publish
############################
publish/
*.publishsettings

############################
# NuGet
############################
*.nupkg
packages/
.nuget/

############################
# Test Results
############################
TestResults/

############################
# Coverage
############################
coverage/
*.coverage
*.coveragexml

############################
# OS Files
############################
.DS_Store
Thumbs.db